<div style="font-family: Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;">
    <p>
        Hi, {{name}}!
    </p>
    <p style="margin-bottom: 3rem;">
        Thank you for signing up as a sharer to OurJob.App. Were excited to see the conections you make!
        <br>
        <small>by clicking on "Get Your Link", you agree to the sharer agreement attached to this email.</small>
    </p>

    <div>
       <a href="{{ link }}" style="background: blue; color: white; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; text-decoration: none; border-radius: 10px; background: linear-gradient(135deg,  #2B4F7B, #9E005D);">Get Your Link</a>
    </div>

    <p style="margin-top: 2rem;">
    Happy sharing,
        <br>
    OurJob.App
    </p>
</div>