<div style="font-family: Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;">
    <p>
        Hi, {{name}}!
    </p>

    <p style="text-align: center; margin-top: 2rem;">
    Thank you for creating your ourjob.app candidate pool. To begin viewing candidates, click the view candidates button below.
    <br>
    <small>by selecting "view candidates", you agree to the placement agreement attached to this email.</small>
    </p>

    <div style="text-align: center; margin-top: 2.5rem; margin-bottom: 2.5rem">
    <a href="OurJob.App" style="color: white; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; text-decoration: none; border-radius: 10px; background: linear-gradient(135deg,  #2B4F7B, #9E005D);">View Candidates</a>
    </div>

    <p style="margin-top: 2rem;">
    Happy hiring,
        <br>
    OurJob.App
    </p>
</div>