<p>
    Thank you {{ name }} for signing up to OurJob.App. We appreciate the opportunity to work with you. First however we just need to verify
    you are a person! So if you could please use the link below to verify your email you will be all set.
</p>

<a href="https://localhost:8080/signup/verifications/{{ token }}">https://localhost:8080/signup/verifications/{{ token }}</a>

<small>Link above will expire within 24 hours upon creation of your account. Resubmit the form in order to reverify if you are past the 24 hours</small>